{% extends 'blog/main.html' %}
{% load crispy_forms_tags%}
{% block main_section%}

  {% for post in news %}
<div class='alert alert-light'>
    <h1>  {{post.title}}   </h1>
    <p> {{post.text}} </p>
    <div class="row">
      <div class="col-md-2">
        {% if post.autor.profile.img %}
        <img src="{{post.autor.profile.img.url}}" alt="{{post.avtor}}" class="user_image">
        {%else%}
        <img src="/pictures/default.jpg" alt="{{post.avtor}}" class="user_image">
        {%endif%}
      </div>
      <div class="col-md-10">
        {% if post.autor %}
          <p>Autor: {{post.autor}}</p>
        {%else%}
          <p>Autor: Anon </p>
        {%endif%}
      <p>Data: {{post.date| date:"G:i j-b-Y"}}</p>
      </div>
    </div>
    <a href="{% url 'blog_detail' post.id %}" class = "btn btn-outline-warning">Read more</a>
</div>
  {% endfor %}

{%endblock main_section%}
